<div class="main-container">


    <div class="form-outer">

        <form class="form">
            <div class="row">
                <div class="col-lg-6">

                    <div class="add-button">
                        <button type="button" class="btn btn-outline-dark btn-lg btn-block" routerLink="/addNotes"> Add New Notes </button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-input">
                        <span class="icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="text" name="name" [(ngModel)]="searchText" placeholder="filter" autocomplete="off">
                    </div>
                </div>
            </div>

        </form>
    </div>

    <br><br><br>
</div>




<div class="notes-list">
    <div class="container">
        <app-card-notes *ngFor="let note of notes | filter:searchText;let i = index" [index]="i" [note]="note"></app-card-notes>
    </div>
</div>